.container-detail{
    width: 100%;
    background-color: #eaead1;
}

p{
    margin-bottom: 0;
}

.product-detail-container{
    min-height: 81vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.1fr 0.9fr;
    padding: 2rem;
    gap: 1rem
}

.product-title{
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    margin: 0;
    padding-top: 0;
}

.product-img{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%
}

.product-details{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.product-price{
    font-weight: 600;
    font-size: 1.2rem;
}

.product-stock{
    font-size: 0.9rem;
    margin: 0
}

.btn-continuar{
    text-decoration: none;
    color: white;
    background-color: #c97858;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 80%;
    border-radius: 0.5rem;
    transition: 0.2s ease;
}

.btn-continuar:hover{
    background-color: #06281f ;
}

.btn-finalizar{
    text-decoration: none;
    color: white;
    background-color: #125150;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 80%;
    border-radius: 0.5rem;
    transition: 0.2s ease;
}

.btn-finalizar:hover{
    background-color: #06281f ;
}

@media screen and (max-width: 850px) {
    .product-detail-container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.5fr 0.4fr;
    }

    .product-title{
        grid-column: 1/2;
    }

    .product-img{
        margin-top: 1rem;
        grid-column: 1/2;
        grid-row: 2/3;
        width: 75%;
        justify-self: center
    }

    .product-details{
        grid-column: 1/2;
        grid-row: 3/4;
        justify-self: center;
    }

}

