.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.form{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem
}

.order-completed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem
}

.preparing-order{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-preparing{
    padding-top: 4rem;
}