@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap');


.nav{
    position: relative;
    right: 0;
    left: 0;
    background-color: #125150;
    z-index: 9999;
}

.title{
    color: #eaead1;
    margin-top: 8px;
    margin-left: 1rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}

.subtitle{
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

.botones-menu{
    position: absolute;
    left: 30% ;
}

.logo{
    text-decoration: none;
}

.Option{
    text-decoration: none;
    margin: 0 .8rem 0 .8rem;
    padding: 0.5rem;
    border: 1px solid #d9c97e;
    color: #d9c97e;
    border-radius: 0.3rem;
    transition: 0.3s;
}
.ActiveOption{
    text-decoration: none;
    margin: 0 .8rem 0 .8rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.Option:hover, .ActiveOption{
    background-color: #d9c97e;
    border: 1px solid #d9c97e;
    color: black
}

.inicio{
    border: 1px solid #c97858;
    color: #c97858;
}

.inicio:hover{
    background-color: #c97858;
    border: 1px solid #c97858;
    color: black
}

.menu-list{
    margin: 0 10px;
    display: none;
    cursor: pointer
}

.mobOption, .mobActiveOption{
    text-decoration: none;
    font-size: 1.1rem;
}

.mobOption{
    color: #d9c97e;
}

.mobActiveOption{
    color: #c97858;
}

.nav-mobile{
    position: absolute;
    right: 0;
    left: 0;
    background-color: #125150;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
    flex-direction: column;
    padding-left: 2rem;
    padding-bottom: 1rem;
    display: none;
    z-index: 1;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}

@media screen and (max-width: 850px) {

    .menu-list{
        display: inline;
    }

    .nav-mobile{
        display: flex;
        gap: 1rem;
    }

    .show{
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .botones-menu{
        display: none;
    }
}